.btn:disabled{
  background-color: gray;
  border: none;
  pointer-events: none;
}
.preview {
  height: 150px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
  overflow-y: auto;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.alert {
  height: 60px;
}
.dropdown{
  position: absolute;
  right: 70px;
  border-radius: 7px;
}
.dropdown-menu li{
  padding: 2px 5px;
}
.dropdown-menu li button{
  width: 100%;
  border: 1px solid black;
}

@media (max-width: 991px) {
  .dropdown {
    position: relative;   
    left: 0;             
    width: 48%;          
    margin-top: 10px;  
  }
  .dropdown > button:first-child {
    width: 30%;          
  }
  .dropdown > button:nth-child(2) {
    width: 25%;          
  }
  .dropdown-menu {
    width: 100%;          
  }
  .dropdown-menu li button {
    width: 100%;         
    text-align: left;  
  }
}